<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada <br/>
para o e-mail ({{ email }}). Se você não foi o autor dessa requisição <br />
desconsidere este e-mail.</p> 

<p>Para continuar com a recuperação de senha, utilize o token {{ token }} <br/>
  ou clique no link abaixo. </p>


<a href="{{ link }}" >Criar nova senha</a> 
